# OS-Stuff
.DS_Store

# nodejs
node_modules/

# typescript
.tscache
tsconfig.tsbuildinfo

# build & tools
.eslintcache
.grunt/
.localCache/
.sass-cache/
build/
public/assets/

# test-reports
coverage/
reports/
.nyc_output/

# local-development overrides
config/local*.js

# ide / editor
.vscode/
.idea/
*.iml
## ide plugins
atlassian-ide-plugin.xml

# log files
*.log
*.map
memory-*.csv

# credentials
*.aes
dockercfg
aws-deployment.env


# static analysis tools
## codeclimate
.codeclimate.yml
## sonar-scanner
.scannerwork

# to be categorized
tscommand.tmp.txt
sitemap.xml
sitemap-*.xml
sitemapindex.xml
config/filerevmap.json
localtests/
local-idea-tests/
graphql.config.json
/.graphqlconfig
!fixtures/*.com
/schema.graphql
